.*.swp

# Secure folder
secure/*

# templates
git/gitconfig
vim/templates/personal.template
.ropeproject/

# ignore vim undo folder
vim/undo/*
vim/undodir/*

nvim/undodir/*
nvim/plugged/*
nvim/autoload/*
